{% comment %} {{ field }}

{% if field.field.widget.attrs.validate %}
    <div class="invalid-feedback">
        {{ field.field.widget.attrs.validate }}
    </div>
{% endif %}

{% if field.errors %}
    <div class="invalid-feedback">
        {% for error in field.errors %}
            <small class="text-danger fw-bold">* {{ error }}</small>
        {% endfor %}
    </div>
{% endif %} {% endcomment %}

{% if field.field.widget.attrs.widget == 'number' %}
    <div class="d-flex justify-content-start">
        <div class="input-group" style="width: 150px;">
            <button type="button" class="input-group-text text-center" id="btnMinus-{{ field.name }}">&nbsp;-&nbsp;</button>
            {{ field }}
            <button type="button" class="input-group-text text-center" id="btnPlus-{{ field.name }}">&nbsp;+&nbsp;</button>
        </div>
    </div>  
{% elif field.field.widget.attrs.input_group %}
    <div class="input-group">
        <span class="input-group-text">{{ field.field.widget.attrs.input_group }}</span>
        {{ field }}
    </div>
{% elif field.field.widget.attrs.fk_add_url %}
    <div class="d-flex flex-column fk-block">
        {{ field }}

        <div class="d-flex gap-1 mt-1">
            <a  href="javascript:void(0)"
                class="fk-btn"
                onclick="openFKPopup('/{{ field.field.widget.attrs.fk_add_url }}', 'id_{{ field.name }}')"
                title="Agregar nuevo">
                <i class="fa fa-plus"></i>
            </a>
            <a  href="javascript:void(0)"
                class="fk-btn"
                onclick="clearFKField('id_{{ field.name }}')"
                title="Borrar selección">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
{% else %}
    {{ field }}
{% endif %}

{% if field.field.widget.attrs.validate %}
    <div class="invalid-feedback">
        {{ field.field.widget.attrs.validate }}
    </div>
{% endif %}

{% if field.errors %}
    <div class="field-error-message text-danger">
        {% for error in field.errors %}
            <small class="text-danger fw-bold">* {{ error }}</small>
        {% endfor %}
    </div>
{% endif %}