{# Modal para selección de iconos #}
{% if form.iconpicker %}
    <div class="modal fade" id="iconModal" tabindex="-1" aria-labelledby="iconModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="iconModalLabel">Selecciona un icono</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" id="iconSearch" class="form-control" placeholder="Buscar iconos por nombre...">
                    </div>
                    <div id="icon-list" class="row"></div>
                </div>
                <div class="modal-footer">
                    <button id="prevPage" class="btn-sm btn btn-info" disabled>Anterior</button>
                    <span id="paginationInfo" class="align-self-center"></span>
                    <button id="nextPage" class="btn-sm btn btn-info" disabled>Siguiente</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
