
{% extends 'core/layout/list.html' %}

{% block row_action %}
	<li>
		<a class="dropdown-item btn" href="{{ path }}?action=edit&id={{ obj.id }}">
			<i class="fa-solid fa-pencil"></i> Editar
		</a>
		<button onClick="ingresarUsuario('{{ obj.id }}')" class="dropdown-item btn" title="Ingresar como este usuario">
			<i class="fa-solid fa-user-check"></i> Ingresar
		</button>
	</li>
{% endblock %}

{% block extrajs %}
	{{ block.super }}
	<script>
		function ingresarUsuario(id){
			bloqueoInterfaz(true);
			fetchRequest2({
				url: '{{ request.path }}',
				method: 'GET',
				data: { action: 'ingresar_usuario', id: id },
				success: function(data){
					desbloqueoInterfaz();
					if (data.result !== 'ok') {
						showErrorMessage(data.message || 'Error al ingresar como este usuario');
						return;
					}
					const sessionId = data.resp ? data.resp.sessionId : null;
					localStorage.removeItem('sessionid');
					if (data.sessionid) localStorage.setItem('sessionid', data.sessionid);
					window.location.href = '/';
				},
				error: function(data){
					desbloqueoInterfaz();
					showErrorMessage('Error al ingresar como este usuario');
				}
			});
		}
	</script>
{% endblock %}
