{% extends 'layout/base_admin.html' %}

{% load core_extras %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
            <div class="d-flex flex-wrap gap-3 justify-content-between align-items-center mb-4">
                <div class="ms-auto">
                    <a class="btn btn-sm btn-dark" href="{{ path }}?action=add"><i class="fa-solid fa-circle-plus"></i> Agregar {{ modulo_activo }}</a>
                </div>
            </div>

			<div style="max-width: 500px">
				<form method="GET" role="form" action=".">
					<div class="input-group mb-3">
					<input type="text" id="search" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Buscar {{ modulo_activo.nombre }} ...">
					<button type="submit" class="btn btn-dark btn-sm">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
				</form>
			</div>

            <div class="card border-0 table-responsive">
                <div class="card-body">
                    <table class="table small table-hover table-striped">
                        <thead>
                            <tr>
                                {% for h in display_headers %}
                                    <th>{{ h }}</th>
                                {% endfor %}
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for obj in objs %}
                                <tr>
                                    {% for spec in display_specs %}
                                        <td>{{ obj|attr:spec }}</td>
                                    {% endfor %}
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-info btn-xs dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Acciones
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item btn" href="{{ path }}?action=edit&id={{ obj.id }}">
                                                        <i class="fa-solid fa-pencil"></i> Editar
                                                    </a>
                                                    <a class="dropdown-item btn formmodal" nhref="{{ path }}?action=delete&id={{ obj.id }}">
                                                        <i class="fa-solid fa-trash"></i> Eliminar
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>

{% endblock %}
